{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div id="main-container" class="w-75 mx-auto d-flex flex-row container">
        <section class="col-6">
            <h1 class="text-uppercase">Apprenez, où vous voulez quand vous voulez</h1>
            <p>Il est possible d’apprendre grâce à plusieurs formats, des activités, des exercices, des vidéos et des projets pour apprendre tout en pratiquant !</p>
        </section>
        <object data="/assets/laptopIllustration.svg"  class="col-6"></object>
    </div>
    <div id="actu">
        <img class="d-block" src="/assets/Bulb_deco.svg" alt="Décoration ampoule">
        <div class="container d-flex w-75 mx-auto flex-wrap justify-content-between">
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last lessons -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers cours</h3>
                {% if courses %}
                    {% for course in courses %}
                        <section>
                            <h2>{{ course.title }}</h2>
                            <p>Ajouté le :  {{ course.createdAt|date("d/m/Y") }}</p>
                        </section>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun contenu n'est disponible pour le moment
                    </div>
                {% endif  %}
            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last projects -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers projets</h3>
                {% if projects %}
                    {% for project in projects %}
                    <section>
                        <h2>{{ project.title }}</h2>
                        <p>Ajouté le :  {{ project.createdAt|date("d/m/Y") }}</p>
                    </section>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun contenu n'est disponible pour le moment
                    </div>
                {% endif  %}

            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last activities -->
                <h3 class="rounded-pill d-inline-block p-2">Les dernières activités</h3>
                {% if activities %}
                    {% for activity in activities %}
                        <section>
                            <h2>{{ activity.title }}</h2>
                            <p>Ajouté le :  {{ activity.createdAt|date("d/m/Y") }}</p>
                        </section>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun contenu n'est disponible pour le moment
                    </div>
                {% endif  %}
            </section>
            <section class="actus-group col-5 rounded border border-1 my-5"> <!-- Last exercises -->
                <h3 class="rounded-pill d-inline-block p-2">Les derniers exercices</h3>
                {% if exercises %}
                    {% for exercice in exercises %}
                        <section>
                            <h2>{{ exercice.title }}</h2>
                            <p>Ajouté le :  {{ exercice.createdAt|date("d/m/Y") }}</p>
                        </section>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        Aucun contenu n'est disponible pour le moment
                    </div>
                {% endif  %}
            </section>
        </div>
    </div>
{% endblock %}