{% extends "base.html.twig" %}
{% block title %} {{ course.Title }} {% endblock %}
{% block body %}
    <p>Cours > {{ course.category }} > {{ course.Title }} </p>
    <h1 style="text-align: center">{{ course.title }}</h1>
    <p>Temps estimé : {{ time }} minutes</p>
    <p>{{ course.summary }}</p>
    {% if chapters is empty %}
        <div class="alert alert-warning" role="alert">
            Aucun chapitre n'est disponible, reviens plus tard...
        </div>
    {% else %}
    <div style="border: 1px solid black; display: inline-block">
        <ul>
            {% for chapter in chapters %}
                <li>{{ chapter.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div style="border: 1px solid red">
            <h2>{{ chapters[0].title }}</h2>
            <p>{{ chapters[0].content|markdown_to_html }}</p>
    </div>
    {% endif %}
{% endblock %}