{% extends "base.html.twig" %}
{% block title %} {{ project.Title }} {% endblock %}
{% block body %}
    <p class="redirect m-3"><a href="{{ path('project_list') }}">Projets</a> > {{ project.Title }} > {{ currentChapter.title }} </p>
    <h1 class="content-title text-center">{{ project.title }}</h1>
    <div class="intro-container d-flex flex-row justify-content-around">
        <aside class="">
            <section class="border my-3 shadow p-2">
                <h3>Informations :</h3>
                <ul>
                    <li>Temps estimé : {{ time }} minutes</li>
                    <li>X chapitres</li>
                    <li>Ajouté le {{ project.createdAt|date("d/m/Y") }}</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2">
                <h3>Chapitres :</h3>
                <ul>
                    {% for chapter in chapters %}
                        {% if chapter.slug in slugs %}
                            <li><span style="text-decoration: line-through;"><a class="text-secondary" href="{{ path('project_chapter_show', {'projectSlug': project.slug, 'chapterSlug': chapter.slug}) }}">{{ chapter.title }}</a></span></li>
                        {% else %}
                            <li><a href="{{ path('project_chapter_show', {'projectSlug': project.slug, 'chapterSlug': chapter.slug}) }}">{{ chapter.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section class="border my-3 shadow p-2">
                <h3>Pré-requis</h3>
                <ul>
                    {% for pre in project.prerequisites %}
                        <li>{{ pre }}</li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <div class="resume my-auto shadow p-3">
            <h3>Présentation</h3>
            <p>{{ project.summary }}</p>
        </div>
    </div>
    <hr class="m-4">
    <div class="content-container w-75">
        {% if chapters is empty %}
            <div class="alert alert-warning" role="alert">
                Aucun chapitre n'est disponible, reviens plus tard...
            </div>
        {% else %}
            <h1>{{ currentChapter.title }}</h1>
            {{ currentChapter.content | raw }}

            {% if currentChapter.slug in slugs %}
                <div class="text-center my-3">
                    <button type="button" class="btn btn-info" disabled>J'ai déjà lu ce chapitre</button>
                </div>
            {% else %}
                <div class="text-center my-3">
                    <button type="button" class="btn btn-success" onclick="location.href ='/markAsRead/project/{{ currentChapter.slug }}'">J'ai lu ce chapitre</button>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}