{% extends "@!EasyAdmin/page/content.html.twig"%}
{% block content %}
    <div class="jumbotron">
        <h1>Bienvenue {{ user.name }} sur la page d'administration,</h1>
        <p class="lead">Retrouvez ici toutes les informations concernant G1ID.</p>
        <hr class="my-4">
        <div id="infos-dashboard" class="d-flex flex-row justify-content-around flex-wrap w-100">
            <section class="border my-3 shadow p-2 rounded" style="width: 33%">
                <h3>Nombre d'utilisateurs inscrits : </h3>
                <ul>
                    <li>{{ userCount}} Inscrit{% if userCount > 1 %}s{% endif %}</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded" style="width: 30%">
                <h3>Nombre de cours : </h3>
                <ul>
                    <li>{{ courseCount }} Cours</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded" style="width: 30%">
                <h3>Nombre d'activités : </h3>
                <ul>
                    <li>{{ activityCount }} Activités</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded" style="width: 30%">
                <h3>Nombre de projets : </h3>
                <ul>
                    <li>{{ projectCount }} Projets</li>
                </ul>
            </section>
            <section class="border my-3 shadow p-2 rounded" style="width: 30%">
                <h3>Nombre d'exercices : </h3>
                <ul>
                    <li>{{ exerciceCount }} Exercices</li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}