<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Hugo Benabdelhak">
        <meta name="description" content="Vous voulez apprendre la programmation du langage libre Python ? Vous ne savez pas par où commencer ? Sur g1id, lancez-vous dans un projet qui vous motive et apprenez au fur et à mesure de vos besoins au travers de vidéos pédagogiques. Les cours proposés sont sous licence LDL.">
        <title>G1ID | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
           {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" id="MathJax-script" defer
                    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
            </script>
        {% endblock %}
    </head>
    <body>
        <header class="d-flex flex-row justify-content-around align-items-center">
            <a href="{{ path('home') }}">
                <img alt="Logo G1ID" src="{{ asset("assets/Logo.png") }}" />
            </a>
            <nav>
                <ul class="d-flex flex-row">
                    <li class="mx-4"><a href="{{ path('course_list') }}">Cours</a></li>
                    <li class="mx-4"><a href="{{ path('activity_list') }}">Activité</a></li>
                    <li class="mx-4"><a href="{{ path('exercice_list') }}">Exercice</a></li>
                    <li class="mx-4"><a href="{{ path('project_list') }}">Projets</a></li>
                </ul>
            </nav>
            <div id="connexion" class="d-flex flex-row align-items-center">
                    {% if app.user %}
                        <p class="mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <a href="{{ path('profil') }}">{{ app.user.username }}</a>
                            <a href="{{ path('app_logout') }}" class="mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                        </p>
                    {% else %}
                        <p><a href="{{ path('app_login') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>Connexion</a></p>
                        <p class="mx-2">|</p>
                        <p><a href="{{ path('app_register') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>Inscription</a></p>
                    {% endif %}
            </div>
            <div id="hamburger-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </div>
        </header>
        <main>
            <div id="hamburger-menu" class="p-2">
                <div class="d-flex flex-row align-items-center justify-content-center my-3">
                    {% if app.user %}
                        <p class="mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            {{ app.user.username }}
                            <a href="{{ path('app_logout') }}" class="mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                        </p>
                    {% else %}
                        <p><a href="{{ path('app_login') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>Connexion</a></p>
                        <p>|</p>
                        <p><a href="{{ path('app_register') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>Inscription</a></p>
                    {% endif %}
                </div>

                <ul class="p-0">
                    <li><a href="{{ path('course_list') }}">Cours</a></li>
                    <li><a href="{{ path('activity_list') }}">Activité</a></li>
                    <li><a href="{{ path('exercice_list') }}">Exercice</a></li>
                    <li><a href="{{ path('project_list') }}">Projets</a></li>
                </ul>
            </div>
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            <p>Réalisé par <a href="mailto:hugo.ben80000@gmail.com">Hugo Benabdelhak</a></p>
        </footer>
    </body>
</html>
