<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>G1ID | {% block title %}{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
           {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="">
            <div class="d-flex flex-row justify-content-between align-items-center container">
                <a id="logo" class="col-3" href="">
                    <img src="{{ asset("assets/Logo.png") }}" alt="Logo"/>
                </a>
                <nav class="col-3">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="mx-2"><a href="{{ path('course_list') }}">Cours</a></li>
                        <li class="mx-2"><a href="{{ path('activity_list') }}">Activité</a></li>
                        <li class="mx-2"><a href="{{ path('exercice_list') }}">Exercice</a></li>
                        <li class="mx-2"><a href="{{ path('project_list') }}">Projets</a></li>
                    </ul>
                </nav>
                <div class="d-flex flex-row col-3 align-items-center">
                    {% if app.user %}
                        <p class="mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            {{ app.user.username }}
                            <a href="{{ path('app_logout') }}" class="mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                        </p>

                    {% else %}
                        <p><a href="{{ path('app_login') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>Connexion</a></p>
                        <p>|</p>
                        <p><a href="{{ path('app_register') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>Inscription</a></p>
                    {% endif %}
                </div>
            </div>

        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            <p>Réalisé par <a href="mailto:hugo.ben80000@gmail.com">Hugo Benabdelhak</a></p>
        </footer>
    </body>
</html>
