{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <img class="auth-deco position-absolute" src="assets/Bulb_deco.png" alt="Bulb background">
    <form method="post" class="my-5">
        <section class="auth-container container">
            <h1 class="h3 mb-3 text-center">Connexion</h1>
            <div class="p-3 rounded shadow fields">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
    
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3 alert alert-warning">
                        Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter ?</a>
                    </div>
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>
    
            </div>
        </section>
    </form>
{% endblock %}
